/* This will serve as the area for my main brand styles that I want to be. global across my site AKA re-used styles*/
/*https://www.color-hex.com/color-palette/67828*/

body {
 	font-family: 'Raleway', sans-serif;
}
h1	{
	justify-content: center;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	font-size: 35px;
}
h2 {
	display: flex;
	justify-content: center;
	padding: 15px;
	font-weight: 600;
	font-size: 30px;
}
h3 {
	font-size: 25px;
	padding: 15px;
}
.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.center {
	align-items: center;
}
/* Nav */
.nav-container {
	padding: 20px;
	border-bottom: .25px solid #eac9aa;
	background-color: #ec8e75;
	justify-content: space-around;
	align-items: center;
	margin-right: 50px;
	margin-left: 50px;
}

.nav-container > li {
	display: flex;
	padding: 5px;
	color: #eac9aa;
}
/* Main */

.main-content {
	display: flex
	flex-direction: column;
	margin-right: 50px;
	margin-left: 50px;
/*	align-items: center;*/
/*	background-color: #82a18f;*/
}
p {
/*	margin: 20px;*/
	padding: 5px;
	text-align: center;
	display: flex;
	background-color: #eac9aa;
	justify-content: center;
	line-height: normal;
	font-size: 25px;
}
a { 
	color: inherit; 
	text-decoration: none;
	font-size: 25px;
} 
a:hover {
	color: #82a18f;
}
footer {
	position: fixed;
}
ul {
	font-size: 25px;
}
.work-logos {
	height: 100px;
}
/* one offs */
.intro-photo {
	order:2;
	justify-content: flex-start;
	text-align: center;
}
.long-story {
	order: 1
}
.short-story {
	order:3;
}
.short-story > ul > li 
	line-height: normal;
	padding: 5px;
	margin: 5px;
}
#about-pic {
	height: 600px;
}
/*collapsing work section*/

.collapsible {
  background-color: #ec8e75;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 40px;
}
.active, .collapsible:hover {
  background-color: #896c68;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.icon-size {
	font-size: 40px;
	padding: 40px;
}


/*This will serves as medium/table screen breakpoints*/
@media screen and (max-width: 992px) {
 
 p {
 	font-size: 14px;
 }

}

/* This will serve as the area for my mobile breakpoints */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px;
    }
    h2 {
    	font-size: 12px;
    }
    h3 {
    	font-size: 10px;
    }
    .icon-size {
     font-size: 15px;	
    }
    .nav-container > li {
    	font-size: 12px;
    }
	p {
		font-size: 10px;
		line-height: inherit;
		margin: 5px;
	} 
	mobile-view	{
		/*need mobile styles to make everything breakdown into one column 
	}
}