/* This will serve as the area for my main brand styles that I want to be. global across my site*/

body {
 	font-family: 'Raleway', sans-serif;
}

/* Nav */
.container {
	display: flex;
	justify-content: flex-end;
	padding: 25px;
	border-bottom: .25px solid #eac9aa;
	background-color: #ec8e75;
}

.container > li {
	width: 30%;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	color: #eac9aa;
}

/* Main */

.main-content {
/*	display: flex;*/
	align-items: center;
	background-color: #82a18f;
}
.mini-content
{
/*	height: 300px;*/
	display: flex;
	justify-content: space-around;
}

h1	{
	justify-content: center;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
}
h2 {
	display: flex;
	justify-content: center;
}
p {
	text-align: center;
	display: flex;
	background-color: #eac9aa;
	justify-content: center;
}
a { 
	color: inherit; 
	text-decoration: none;
} 
a:hover {
	color: #82a18f;
}
/*.pretty {
	display: flex;
	background: red;
	border: 1px solid blue;
	justify-content: space-around;
	align-items: center;
}*/

footer {
	position: fixed;
}

/* This will serve as the area for my mobile breakpoints */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px;
    }
    h2 {
    	font-size: 12px;
    }
    .container > li {
    	font-size: 12px;
    }
	p {
		font-size: 10px;
	} 
}