/* This will serve as the area for my main brand styles that I want to be. global across my site*/

body {
 	font-family: 'Raleway', sans-serif;
}

/* Nav */
.container {
	display: flex;
	justify-content: flex-end;
	padding: 25px;
	border-bottom: .25px solid yellow;
	background-color: pink;
}

.container > li {
	width: 30%;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	color: white;
}

/* Main */

.main-content {
	/*display: flex;
	justify-content: center;*/
}

h1	{
	display: flex;
	justify-content: center;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
}

/* This will serve as the area for my mobile breakpoints */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px;
    }
    .container > li {
    	font-size: 12px;
    }
}